# Ignore everything in data subdirectories except .gitkeep files
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Ignore specific folder types
**/.ipynb_checkpoints/ 

# Ignore specific file types
*.nc       
